---
layout: default
---

{{ content }}

<div class="container">
  <div class="post-social">{% include follow-links.html %}</div>

  {% if page.comments %}
  <div style="height: 2rem"></div>
  <div class="comments-section">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.id | default: page.url }}';
      };
      (function () {
        var d = document,
          s = d.createElement('script');
        s.src = 'https://https-aistomin-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
  {% endif %}
</div>
